<head>
<title>{site.name}</title>
<link rel="stylesheet" href="/~{site.username}/css/style.css">
</head>
<body>
<main>
<div id="header">
<p>{site.name}</p>
<nav>
<h2>Navigation</h2>
<ul>
<li><a href="/~{site.username}">Home</a></li>
{{ if has_about }}
<li><a href="/~{site.username}/about.html">About</a></li>
{{ endif }}
<li><a href="gemini://{site.url}/~{site.username}">Gemini Feed</a></li>
</ul>
</nav>
</div>
<hr>
<div id="content">
<h2>{site.posts_subdir}</h2>
{{ for post in posts }}
<li>{post.date} <a href="/~{site.username}/posts/{post.filename}.html">
{post.title}</a></li>
{{ endfor }}

{{ if has_topics }}
<h2>{site.topics_subdir}</h2>
{{ for topic in topics }}
<li><a href="/~{site.username}/{topic.filename}.html">
{topic.title}</a></li>
{{ endfor }}
{{ endif }}

</div>
</main>
</body>
