body {
  font-family: sans-serif;
  background-color: white;
}

main {
  background-color: white;
  max-width: 40em;
  padding: 1.2em;
  margin: auto;
}

p, a, li {
  font-size: 16px;
}

a {
  background-color: #dfdfdf;
  color: #1c394e;
}

a:hover {
  background-color: white;
  color: blue;
}

blockquote {
  background: #dfdfdf;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #151515;
  }

  main { 
    background-color: #151515;
    color: #fff8e0;
  }

  a {
    background-color: #1c394e;
    color: #fff8e0;
  }

  a:hover {
    background-color: #151515;
    color: #4b749d;
  }

  blockquote {
    background: #1c394e;
    border-left-color: #bfbfbf
  }
}

@media (min-device-width: 320px) and (max-device-width: 1024px) {
  body {
    padding: 0;
    margin: 0;
    background-color: white;
  }

  p, a, li {
    font-size: 110%;
  }

  h1, h2, h3 {
    font-size: 500%;
  }

  main {
    padding-top: 50px;
    padding-bottom: 100px;
    max-width: 100%;
    max-height: auto;
    margin: 0;
  }
}
